 .container {
	padding: 20px;
	border: 1px solid gray;
	width: 750px ;
	background-color: #efeff2;
}

body {
	font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	background-color: #f2e2cd;

}

input {
	font-size: 100%;
	background-color: #ffffcc;
	padding: 1px;
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	margin: 5px;

}

.submitClass {
	background-color: #a69eb0;
	color: #000000;
}


button {
	font-size: 100%;
	background-color: #a69eb0;
	color: #000000;
	padding: 1px;
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	margin: 3px;
}